<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Ti Wegmeyer Profile</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="skeleton.css">
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body ng-controller="myController">
        <div class="main">
    <div class="cover">
        <img src="background.jpg" />
    </div>
    <div class="profile">
        <img src="profile.jpg" />
    </div>
        <h1 class="name"><p class="boxed">Ti Wegmeyer</p></h1>
        </div> 

    <div class="container">
			<div class="four columns portfolio">NAME:<span ng-show="showIt[0]" class="textBox" ng-click="click(0)" >{{myName}}</span>
				<input ng-model="myName" ng-blur="mouseAway(0)" ng-hide="showIt[0]" class="enter" type="text" value="{{myName}}"/></div><br>

			<div class="four columns portfolio" >BIRTHDAY: <span ng-show="showIt[1]" class="textBox" ng-click="click(1)" >{{myBirthday}}</span>
				<input ng-model="myAge" ng-blur="mouseAway(1)" ng-hide="showIt[1]" class="enter" type="text" value="{{myBirthday}}"/></div><br>

			<div class="four columns portfolio">LOCATION: <span ng-show="showIt[2]" class="textBox" ng-click="click(2)" >{{myLocation}}</span>
				<input ng-model="myLocation" ng-blur="mouseAway(2)" ng-hide="showIt[2]" class="enter" type="text" value="{{myLocation}}"/></div><br>
		</div>
    </body>
    <!--
    <div class="container">
            <div class="row">
        <div class="four columns portfolio">
            <p class="textBox" ng-show="showText1" ng-click="clickText($event, 'first')" ng-bind="currentText1"><br></p>
            <input class="content-input" ng-show="showInput1" ng-model="newText1">
			<input type="submit" ng-click="switchDisplay($event, 'first')" ng-show="showInput1">
        </div>
        <div class="four columns portfolio" ng-click="inputHide(); inputDisplay()">
            <p class="textBox" ng-show="visible"><strong class="title">Profile</strong><br>
                Well dismally insect aboard raccoon a next contrary the blankly goodness that freely opposite coincidental alas much wherever dear masochistically save spun whimpered and hello a inside this froze had.</p>
        </div>
        <div class="four columns portfolio" ng-click="inputHide(); inputDisplay()">
            <p class="textBox" ng-show="visible"><strong class="title">Profile</strong><br>
                Well dismally insect aboard raccoon a next contrary the blankly goodness that freely opposite coincidental alas much wherever dear masochistically save spun whimpered and hello a inside this froze had.</p>
        </div>
        </div>
-->
</html>